html {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

/*
@page {
	size:21.0cm 29.7cm;
	margin-left:1.5cm;
	margin-right:1.0cm
}*/

:root {
    --main-text-color-default: rgba(239, 0, 0, 1);
    --main-text-color-header1: rgb(51, 51, 51);
    --main-text-color-header2: var(--main-text-color-header1);
    --main-text-color-header3: var(--main-text-color-header2);
    --main-text-color-body1: rgb(85, 85, 85);
    --main-text-color-body2: var(--main-text-color-body1);
    --main-text-color-body3: var(--main-text-color-body2);
    --main-text-color-hint: rgba(102, 102, 102, 1);
    --main-text-color-white: rgba(255, 255, 255, 1);
    --main-text-color-error-header: rgba(239, 0, 0, 1);
    --main-text-color-error-body: rgba(239, 0, 0, 0.8);
    --main-text-color-error-hint: rgba(239, 0, 0, 0.6);
    --main-background-color-failed: rgba(239, 0, 0, 0.1);
    --border-image-default: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(239, 0, 0, 0.4) 10%) 1;
    --icon-line-color: var(--main-text-color-body1);
    --icon-line-color-error: var(--main-text-color-error-header);
}

svg {
    width: 100%;
    height: 100%;
}

h3 {
    color: var(--main-text-color-header2);
}

.reporting {
    break-after: page;
}

.reporting:last-child {
    break-after: unset;
}

.reporting-header {
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: var(--main-text-color-header1);
}

.reporting-header table {
    width: 100%;
    text-align: left;
}

.reporting-header img {
    max-width: 250px;
}

.reporting-header table td {
    vertical-align: middle;
}

.reporting-header table tr td:nth-child(2) {
    text-align: right;
    max-width: 250px;
}

.reporting-body {
    width: 100%;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: var(--main-text-color-body1);
}

.reporting-body caption {
    text-align: left;
    font-weight: bold;
}

/* Basic table */
.reporting-body .valuetable {
    border-collapse: collapse;
    width: 100%;
}

.reporting-body .valuetable td,
th {
    padding-left: 0.3vw;
}

.reporting-body .valuetable th {
    background-color: #2775be;
    color: var(--main-text-color-white);
    height: 30px;
}

.reporting-body .valuetable tr:nth-child(even) {
    /*background-color: rgb(240, 240, 240);*/
}

/* Value pair collection */
.reporting-body .valuepair table {
    border-collapse: collapse;
    width: 100%;
}

.reporting-body .valuepair td,
th {
    padding: 0.3vw;
    border: 0px solid rgb(221, 221, 221);
    text-align: left;
}

.reporting-body .valuepair td:nth-child(1) {
    padding-right: 10px;
    font-weight: bold;
}

.reporting-body .valuepair td:nth-child(2) {
    padding-left: 30px;
}

/* Custom Class Table */
.reporting-body .CustomClass table {
    border-collapse: collapse;
    width: 100%;
    border-color: rgb(158, 255, 68);
}

.reporting-body .CustomClass td,
th {
    border: 0px solid rgb(221, 221, 221);
    text-align: left;
    padding: 0.3vw;
    border-color: rgb(158, 255, 68);
}

.reporting-body .CustomClass th {
    background-color: rgb(69, 96, 148);
    color: var(--main-text-color-white)
}

.reporting-body .CustomClass tr:nth-child(even) {
    background-color: rgb(240, 240, 240);
}

/* Info table */
.reporting-body .infotable table {
    border-collapse: collapse;
    width: 100%;
}

.reporting-body .infotable td,
th {
    padding: 5px;
}

.reporting-body .infotable td:nth-child(1) {
    font-weight: bold;
}

.reporting-body .infotable td:nth-child(2) {
    padding-left: 20px;
}

/* Marker table */
.reporting-body .markertable table {
    border-collapse: collapse;
    width: 100%;
}

.reporting-body .markertable td,
th {
    border: 0px solid rgb(221, 0, 221);
    text-align: center;
    padding: 0.3vw;
}

.reporting-body .markertable th {
    background-color: rgb(69, 0, 0);
    color: var(--main-text-color-white)
}

.reporting-body .markertable tr:nth-child(even) {
    background-color: rgb(221, 0, 221);
}

/* Charts */
.reporting-body figure {
    margin-inline-start: unset;
    margin-inline-end: unset;
}

.reporting-body img {
    width: 100%;
    height: auto;
}


.reportIcon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.reportIcon_Image {
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.DISPLAY_NONE {
    display: none;
}

.reportGrid {
    display: grid;
    grid-template-rows: 32px 32px;
    grid-template-columns: 64px 3fr 2fr;
    border-bottom: 2px solid;
    border-image: var(--border-image-default);
    padding-top: 8px;
    padding-bottom: 16px;
    break-inside: avoid;
}

.reportGrid.reportGridSub {
    break-inside: auto;
}

.reportGridError {
    grid-template-rows: 1fr;
}

.reportGridAudit .reportGrid {
    border-top: 2px solid;
    border-bottom: 0px solid;
    padding-bottom: 18px;
}

.reportIcon {
    grid-row: 1 / 3;
    grid-column: 1;
}

.reportGridGeneral {
    grid-row: 1/3;
    grid-column: 2;
    margin-top: 8px;
}

.reportGridUserName {
    grid-row: 1/3;
    grid-column: 3;
    margin-top: 8px;
}

.reportGridValues {
    grid-row: 3;
    grid-column: 1 / 3;
    margin-left: 8px;
    margin-top: 8px;
}

.reportGridValues_ValueContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.reportGridValues_ValueNew{
    padding-left: 16px;
}

.reportGridAudit {
    grid-row: 3;
    grid-column: 2 / 4;
    margin-top: 8px;
    margin-left: 8px;
}

.reportGridSubValues {
    margin-left: 64px;
}

.reportGridReauthentication {
    grid-row: 3;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.reportGridReauthenticationName {
    flex: 1;
}

.reportGridComment {
    grid-row: 4;
    grid-column: 1 / 3;
    margin-top: 8px;
    margin-left: 8px;
}

.reportGridError {
    grid-row: 5;
    grid-column: 1 / 4;
    margin-top: 8px;
    margin-left: 8px;
}

.reportGridDomainName {
    grid-row: 1/3;
    grid-column: 3;
    margin-top: 8px;
}

.reportGridMessage {
    grid-row: 3;
    grid-column: 1 / 4;
    margin-top: 8px;
    margin-left: 8px;
}

.reportGridEventClass {
    grid-row: 4;
    grid-column: 1 / 4;
    margin-top: 8px;
    margin-left: 8px;
}

.reportGridSourceName {
    grid-row: 5;
    grid-column: 1 / 4;
    margin-top: 8px;
    margin-left: 8px;
}

.reportError {
    grid-column: 1 / 4;
    margin-top: 8px;
    margin-left: 8px;
    word-wrap: break-word;
}

.reportHeader {
    font-weight: bold;
    color: var(--main-text-color-header3);
    margin-bottom: 4px;
}

.reportSubElement {
    padding-left: 8px;
    color: var(--main-text-color-body3);
}

.reportHint {
    font-size: 12px;
    color: var(--main-text-color-hint);
}

.userFailed {
    background-color: var(--main-background-color-failed);
}

.userFailed .reportGridError .reportHeader {
    color: var(--main-text-color-error-header);
}

.userFailed .reportGridError .reportSubElement {
    color: var(--main-text-color-error-body);
}