<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beckhoff.TwinCAT.HMI.Framework" version="14.3.133" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Functions" version="14.3.133" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Controls" version="14.3.133" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Server.Engineering" version="22.0.6818" targetFramework="native1.12-tchmi" />
  <package id="Microsoft.TypeScript.MSBuild" version="5.3.2" developmentDependency="true" />
</packages>
